<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrackThis</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS NATIVE -->
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="text-center">
    <main class="form-signin bg-white rounded shadow-sm p-4 form-container">
      <form id="formLogin" action="/login" method="POST" class="form">
        <h1 class="h3 mb-3 fw-normal title">Inicia session</h1>
        <div class="form-floating mb-3">
          <input type="email" class="form-control input" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control input" id="password" name="password" placeholder="Password" required>
        </div>
        <button class="form-btn" type="submit">Login</button>    
      </form>
      <p class="sign-up-label">No tienes cuenta? <a href="/register"><span class="sign-up-link">Regístrate</span></a></p>
    </main>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(() => {
          window.location = '/<%= ruta %>';
        });
      </script>
    <% } %>
  </body>
</html>
