<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrackThis</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS NATIVE -->
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body class="text-center">
<main class="form-signin bg-white rounded shadow-sm p-4 form-container">
    <form id="formRegister" action="/register" method="POST" class="form">
        <h1 class="h3 mb-3 fw-normal title">Crear una Cuenta</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control input" id="name" name="name" placeholder="Nombre" required>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control input" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control input" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <button class="w-100 btn btn-lg btn-primary form-btn" type="submit">Registrarse</button>
    </form>
    <p class="sign-up-label">Ya tienes una cuenta? <a href="/login"><span class="sign-up-link">Login</span></a></p>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(alert) { %>
<script>
    Swal.fire({
        title: '<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
    }).then(()=>{
        window.location = '/<%= ruta %>'
    })
</script>
<% } %>

</body>
</html>
